In [33]:
%matplotlib notebook
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "Resources/Mouse_metadata.csv"
study_results_path = "Resources/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
merged_mouse_df = pd.merge(mouse_metadata, study_results, on="Mouse ID", how="outer")
merged_mouse_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [34]:
# Checking the number of mice in the DataFrame.
merged_mouse_df["Mouse ID"].count()

1893

In [35]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
#merged_mouse_df = merged_mouse_df.sort_values("Mouse ID")
merged_mouse_df = merged_mouse_df.duplicated(subset="Mouse ID", keep="first")
merged_mouse_df

0       False
1        True
2        True
3        True
4        True
        ...
1888     True
1889     True
1890     True
1891     True
1892     True
Length: 1893, dtype: bool

In [ ]:
# Optional: Get all the data for the duplicate mouse ID.

In [10]:
 # Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_merged_mouse_df = merged_mouse_df.drop_duplicates(subset="Mouse ID", keep="first")
clean_merged_mouse_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
460,a203,Infubinol,Female,20,23,30,59.523197,1
468,a251,Infubinol,Female,21,25,20,54.462594,1
477,a262,Placebo,Female,17,29,15,53.827974,2
490,a275,Ceftamin,Female,20,28,30,54.444713,2
498,a366,Stelasyn,Female,16,29,20,57.285987,0
...,...,...,...,...,...,...,...,...
1860,z435,Propriva,Female,12,26,0,45.000000,0
75,z578,Ramicane,Male,11,16,0,45.000000,0
1872,z581,Infubinol,Female,24,25,45,62.754451,3
1879,z795,Naftisol,Female,13,29,30,59.789636,2
1891,z969,Naftisol,Male,9,30,40,70.314904,4

In [ ]:
# Checking the number of mice in the clean DataFrame.

In [ ]:
#Summary Statistics
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method is the most straightforward, creating multiple series and putting them all together at the end.

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function.

In [ ]:
# Bar Plots
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pandas.

In [ ]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pyplot.

In [ ]:
#Pie Plots
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

In [ ]:
# Quartiles, Outliers and Boxplots
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens.
# Calculate the IQR and quantitatively determine if there are any potential outliers.

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

In [ ]:
# Line and Scatter Plots
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

In [ ]:
# Correlation and Regression
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen